.A{
    background:url('image/S1.PNG') no-repeat;
    background-size:100% 100%;
    }

.B{
    background:url('image/S2.PNG') no-repeat;
    background-size:100% 100%;
    }

.C{
    background:url('image/S3.PNG') no-repeat;
    background-size:100% 100%;
}

.D{
    background:url('image/S4.PNG') no-repeat;
    background-size:100% 100%;
}

.E{
    background:url('image/S5.PNG') no-repeat;
    background-size:100% 100%;
}    
 

.F{
    background:url('image/S6.PNG') no-repeat;
    background-size:100% 100%;
}

.G{
    background:url('image/S7.PNG') no-repeat;
    background-size:100% 100%;
}

.H{
    background:url('image/S8.PNG') no-repeat;
    background-size:100% 100%;
}

.I{
    background:url('image/S9.PNG') no-repeat;
    background-size:100% 100%;
}

.J{
    background:url('image/S10.PNG') no-repeat;
    background-size:100% 100%;
}

.K{
    background:url('image/D1.PNG') no-repeat;
    background-size:100% 100%;
}

.L{
    background:url('image/D2.PNG') no-repeat;
    background-size:100% 100%;
}

.M{
    background:url('image/D3.PNG') no-repeat;
    background-size:100% 100%;
}

.N{
    background:url('image/D4.PNG') no-repeat;
    background-size:100% 100%;
}

.O{
    background:url('image/D5.PNG') no-repeat;
    background-size:100% 100%;
}

.P{
    background:url('image/D6.PNG') no-repeat;
    background-size:100% 100%;
}
.Q{
    background:url('image/D7.PNG') no-repeat;
    background-size:100% 100%;
}
.R{
    background:url('image/D8.PNG') no-repeat;
    background-size:100% 100%;
}
.S{
    background:url('image/D9.PNG') no-repeat;
    background-size:100% 100%;
}
.T{
    background:url('image/D10.PNG') no-repeat;
    background-size:100% 100%;
}
.U{
    background:url('image/C1.PNG') no-repeat;
    background-size:100% 100%;
}
.V{
    background:url('image/C2.PNG') no-repeat;
    background-size:100% 100%;
}
.W{
    background:url('image/C3.PNG') no-repeat;
    background-size:100% 100%;
}
.X{
    background:url('image/C4.PNG') no-repeat;
    background-size:100% 100%;
}
.Y{
    background:url('image/C5.PNG') no-repeat;
    background-size:100% 100%;
}
.Z{
    background:url('image/C6.PNG') no-repeat;
    background-size:100% 100%;
}
.a{
    background:url('image/C7.PNG') no-repeat;
    background-size:100% 100%;
}
.b{
    background:url('image/C8.PNG') no-repeat;
    background-size:100% 100%;
}
.c{
    background:url('image/C9.PNG') no-repeat;
    background-size:100% 100%;
}
.d{
    background:url('image/C10.PNG') no-repeat;
    background-size:100% 100%;
}
.e{
    background:url('image/H1.PNG') no-repeat;
    background-size:100% 100%;
}
.f{
    background:url('image/H2.PNG') no-repeat;
    background-size:100% 100%;
}
.g{
    background:url('image/H3.PNG') no-repeat;
    background-size:100% 100%;
}
.h{
    background:url('image/H4.PNG') no-repeat;
    background-size:100% 100%;
}
.i{
    background:url('image/H5.PNG') no-repeat;
    background-size:100% 100%;
}
.j{
    background:url('image/H6.PNG') no-repeat;
    background-size:100% 100%;
}
.k{
    background:url('image/H7.PNG') no-repeat;
    background-size:100% 100%;
}
.l{
    background:url('image/H8.PNG') no-repeat;
    background-size:100% 100%;
}
.m{
    background:url('image/H9.PNG') no-repeat;
    background-size:100% 100%;
}
.n{
    background:url('image/H10.PNG') no-repeat;
    background-size:100% 100%;
}