* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: url("image/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.main {
  position: absolute;
  left: 250px;
  top: 200px;
  background-image: url("image/table.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 570px;
  width: 1100px;
}

.total {
  /*background: url("image/chip.jpg");
  background-size: 150px;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  border-radius: 100px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(27, 96, 250);
  display: table;
}

.totalVal {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.cardDeck {
  height: 150px;
  width: 600px;
}

#btn_start {
  background-image: url("image/play.jpg");
  background-size: 100%;
  position: absolute;
  top: 725px;
  left: 1531px;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  z-index: 100;
}

#btn_reset {
  background-image: url("image/reset.jpg");
  background-size: 100%;
  position: absolute;
  top: 725px;
  left: 1601px;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  z-index: 100;
}

#bet {
  background-image: url("image/btc.jpg");
  background-size: 100%;
  position: absolute;
  top: 725px;
  left: 1671px;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  z-index: 100;
}

#die {
  background-image: url("image/die.jpg");
  background-size: 100%;
  position: absolute;
  top: 725px;
  left: 1741px;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  z-index: 100;
}

#logout {
  background-image: url("image/logout.jpg");
  background-size: 100% 100%;
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  z-index: 100;
}


#me, #fir, #sec, #thir {
  position: absolute;
  text-align: center;
}

#me {
  top: 80%;
  left: -20%;
}

#fir {
  top: 0%;
  left: -20%;
}

#sec {
  top: 0%;
  left: 60%;
}

#thir {
  top: 80%;
  left: 60%;
}

#me_about {
  background-image: url("image/me.png");
  background-size: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 550px;
  left: 150px;
  z-index: 100;
}

#me_nemo {
  background-image: url("image/nemo.png");
  width: 300px;
  height: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 550px;
  left: 250px;
  z-index: 100;
}

#me_name {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 12%;
  left: 20%;
  font-size: 25px;
}

#me_money {
  color: rgb(27, 96, 250);
  position: absolute;
  top: 55%;
  left: 10%;
  font-size: 20px;
}

#win {
  color: white;
  position: absolute;
  top: 55%;
  left: 45%;
  font-size: 20px;
}

#lose {
  color: white;
  position: absolute;
  top: 55%;
  left: 70%;
  font-size: 20px;
}

#fir_about {
  background-image: url("image/fir.png");
  background-size: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 150px;
  z-index: 100;
}

#fir_nemo {
  background-image: url("image/nemo.png");
  width: 200px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 250px;
  z-index: 100;
}

#fir_name {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 12%;
  left: 32%;
  font-size: 25px;
}

#fir_money {
  color: rgb(27, 96, 250);
  position: absolute;
  top: 55%;
  left: 30%;
  font-size: 20px;
}

#sec_about {
  background-image: url("image/sec.png");
  background-size: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 1030px;
  z-index: 100;
}

#sec_nemo {
  background-image: url("image/nemo.png");
  width: 200px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 1130px;
  z-index: 100;
}

#sec_name {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 12%;
  left: 35%;
  font-size: 25px;
}

#sec_money {
  color: rgb(27, 96, 250);
  position: absolute;
  top: 55%;
  left: 30%;
  font-size: 20px;
}

#thir_about {
  background-image: url("image/thir.png");
  background-size: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 550px;
  left: 1030px;
  z-index: 100;
}

#thir_nemo {
  background-image: url("image/nemo.png");
  width: 200px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 550px;
  left: 1130px;
  z-index: 100;
}

#thir_name {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 12%;
  left: 32%;
  font-size: 25px;
}

#thir_money {
  color: rgb(27, 96, 250);
  position: absolute;
  top: 55%;
  left: 30%;
  font-size: 20px;
}

#score {
  background-image: url("image/bord.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 550px;
  height: 850px;
  top: 20px;
  left: 1400px;
}

#title {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 10%;
  left: 27%;
}

#me_result {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 20%;
  left: 27%;
}

#fir_result {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 35%;
  left: 27%;
}

#sec_result {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 27%;
}

#thir_result {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 65%;
  left: 27%;
}

.chips{
  width: 50px;
  height: 50px;
  z-index: 100;

}